.marioCard {
    height: 10rem;
    width: 20rem;
    background-color: var(--color-background-card);
    margin: 1rem;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.headline {
    font-family: var(--font-family-headline);
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

