.marioCard {
    height: 15rem;
    width: 22rem;
    background-color: var(--color-background-card);
    margin: 1rem;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1em;
}

.headline {
    font-family: var(--font-family-headline);
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

